{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/lato.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/css/admin/admin_login.css" />    
{% endblock %}

{% block body %}
    <div class="login-form">
        <form action="{{ path('login') }}" method="post">
            <div class="header">
                <img src="/assets/images/admin/logo.png" alt="ArmorCMS" />
            </div>
            <label for="username">{{ 'security.login' | trans }}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">{{ 'security.password' | trans }}:</label>
            <input type="password" id="password" name="_password" />

            <button type="submit">{{ 'security.sign_in' | trans }}</button>
        </form>
    </div>
{% endblock %}